backgr.cpg
backgr.dbf
backgr.prj
backgr.qpj
backgr.shp
backgr.shx
box.cpg
grassl.cpg
grassl.dbf
grassl.prj
grassl.qpj
grassl.shp
grassl.shx
s2_10m_constitucion_sub2.tif
s2_10m_constitucion_sub2.tif.aux.xml
